<script type="text/javascript">
$(document).ready(function() {
    var rooms = {{.RoomList}};
    $("#chat-lobby-create-btn").click(function() {
        $("#chat-lobby-create-div").toggle(500)
    });
    $('#chat-lobby-create-form').submit(function(event) {
        event.preventDefault();
        $.post("/chat/room", $(this).serialize(), function(data, status) {
            var room = JSON.parse(data);
            addRoom(room)
        });
    });

    function addRoom(room) {
        var http = '\
        <div class="chat-lobby-room" id="chat-lobby-room' + room.Id + '">\
            <div class="chat-lobby-room-topic">' + room.Topic + '</div>\
            <div class="chat-lobby-room-creator">' + room.Creator.Name + '</div>\
            <div class="chat-lobby-room-member">18/30</div>\
            <button class="chat-lobby-room-enter">加入</button>\
        </div>'
        $("#chat-lobby-list").append(http);
        (function(roomId) {
            $("#chat-lobby-room" + roomId+" button").click(function() {
                $.get("chat/room?id=" + roomId, function(data, status) {
                    $("#main-content-center").html(data);
                });
            });
        })(room.Id)
    };

    function showRooms() {
        for (room of rooms) {
            addRoom(room);
        }
    }
    showRooms();
});
</script>
<div class="chat-lobby">
    <div class="glyphicon glyphicon-plus chat-lobby-create-btn" id="chat-lobby-create-btn"></div>
    <div id="chat-lobby-create-div" class="chat-lobby-create-div">
        <h3>新建房间</h3>
        <form role="form" method="post" action="post" id="chat-lobby-create-form">
            <div class="form-group" action="create_room">
                <label for="room_topic">Topic</label>
                <input type="text" class="form-control" id="room_topic" name="topic" placeholder="请输入房间话题" />
            </div>
            <div class="form-group">
                <label for="room_maxmember">MaxMember</label>
                <input type="text" class="form-control" id="room_maxmember" name="maxmember" placeholder="请输入房间最大人数">
            </div>
            <button type="submit" class="btn btn-primary" id="chat-lobby-create-submit">Create!</button>
        </form>
    </div>
    <div id="chat-lobby-list"></div>
</div>
