.user-dashboard {
    width: 100%;
}

.user-dashboard > div {
    float: left;
    display: block;
}

/*
	show
*/

.user-dashboard-show {
    width: 1.9rem;
    height: 1.9rem;
    position: fixed;
    bottom: 0;
    left: 0;
}

.user-dashboard-show-avatar {
    border: 0.04rem solid #fff;
    overflow: hidden;
    background-color: #eee;
    height: 100%;
    width: 100%;
}

/*
	property
*/

.user-dashboard-property {
    /*background-color: #333;*/
    background-color: rgba(0,0,0,.3);
    width: 5.8rem;
    height: .6rem;
    position: fixed;
    bottom: 0;
    left: 1.9rem;
    padding-left: .02rem;
    padding-right: .02rem;
    border-radius: .03rem;
}

.user-dashboard-property-state{
	width: 1.7rem;
	float: left;
	color: #333;
	background-color: rgba(255,255,255,0.6);
	margin-top: .3rem;
	height: .3rem;
	text-align: center;
	font-size: .02rem;
	font-weight: 700;
	padding-top: .06rem;
	border-radius: .02rem;
}

.user-dashboard-property-exp{
	width: 1.7rem;
	float: left;
	color: #333;
	background-color: rgba(255,255,255,0.6);
	margin-left: .02rem;
	margin-top: .4rem;
	height: .2rem;
	text-align: center;
	border-radius: .02rem;
}

.user-dashboard-property-logout{
	width: .9rem;
	float: right;
	color: #333;
	height: .4rem;
	background-color: rgba(255,255,255,0.6);
	text-align: center;
	font-size: .3rem;
	border-radius: .02rem;
	margin-top: .1rem;
	margin-right: .05rem;
}
.user-dashboard-property-logout:hover{
	cursor: pointer;
}

/*
	function
*/
.user-dashboard-function{
	/*background-color: rgba(0,0,0,.3);*/
    width: 11.3rem;
    height: .7rem;
    position: fixed;
    bottom: 0;
    left: 7.9rem;
    padding-left: .1rem;
}

/*
	function-input
*/
.user-dashboard-function-input{
	position: relative;
	top: .05rem;
	width: 10rem;
	height: .5rem;
	margin-left: auto;
	margin-right: auto;
	display: none;
	padding: .02rem 0;
	font-size:.2rem;
}
.user-dashboard-function-input-text{
	width: 8rem;
	border-radius: .02rem;
	border: none;
}
.user-dashboard-function-input-send{
	background-color: #f0ad4e;
	border: none;
	border-radius: .02rem;
	width: 1.5rem;
	color:#fff;
	text-align: center;
}
/*
	function-jump
*/
.user-dashboard-function-jump {
    padding-top:.05rem;
}

.user-dashboard-function-jump > div{
	float: left;
	width: 2.5rem;
	color: #fff;
	font-size: .35rem;
	font-weight: 700;
	text-align: center;
	transition: margin-top .5s;
	border-top: .15rem solid rgb(100, 100, 100);
	border-radius: .05rem;
	margin-left: .15rem;
	margin-right: .15rem;
	margin-top: .5rem;
	background-color: rgba(70, 70, 70,.6);
}

.user-dashboard-function-jump > div:hover{
	cursor: pointer;
	margin-top: 0;
}

/*.dashboard > .friends{
	background-color: #333;
	display: inline-block;
	width: 15%;
	padding: 0 10px;
	vertical-align: bottom;
}*/
