<script type="text/javascript">
$(document).ready(function() {
    // $("#register_btn").click(function() {
    //     $.get("/register", function(data, status) {
    //         $("#main-content-center").html(data);
    //     });
    // });
    $("#login_form").submit(function(event) {
        event.preventDefault();
        $.post("/login", $(this).serialize(), function(data, status) {
            if (status == "success") {
                $("#main-content-center").html(data);
                $.get("/user/dashboard", function(data2, status) {
                    $("#main-footer").html(data2);
                });
            }
        });
    });
});
</script>
<h3 style="text-align: center">请登陆</h3>
<div id="login" class="login">
    <form role="form" method="post" action="login" id="login_form">
        <div class="form-group">
            <label for="user_name">Username</label>
            <input type="text" class="form-control" id="user_name" name="username" placeholder="Please input username!" />
        </div>
        <div class="form-group">
            <label for="user_password">Password</label>
            <input type="password" class="form-control" id="user_password" name="password" placeholder="Please input password !">
        </div>
        <button type="submit" class="btn btn-primary" id="login_btn">Login!</button>
        <button type="button" class="btn btn-warning" id="register_btn">Register!</button>
    </form>
</div>
