<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-store">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Noro project</title>
    <!-- css files -->
    <link rel="stylesheet" href="static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <!-- <link rel="stylesheet" href="static/css/ukagaka/ukagaka.css"> -->
    <link rel="stylesheet" href="static/css/chat/lobby.css">
    <link rel="stylesheet" href="static/css/user/dashboard.css">
    <link rel="stylesheet" href="static/css/chat/room.css">
    <link rel="stylesheet" href="static/css/user/home.css">
    <link rel="stylesheet" href="static/css/user/wardrobe.css">
     <link rel="stylesheet" href="static/css/user/show.css">
    <!-- js files -->
    <script src="static/js/vendor/jquery-1.11.3.min.js"></script>
    <script src="static/js/vendor/bootstrap.min.js"></script>
    <script src="static/js/vendor/phaser.min.js"></script>
    <!-- <script src="static/js/ukagaka/ukagaka.js"></script> -->
    <script src="static/js/noro.js"></script>
    <script src="static/js/main.js"></script>
</head>

<body>
    <img class="main-background" id="main-background" src="/static/img/chat-room-background.png"></img>
    <div class="main-header" id="main-header">
        <!-- <div class="main-header-logo"></div> -->
    </div>
    <div class="musubi" id="musubi">
        <div class="musubi-line"></div>
        <div class="musubi-omamori" id="musubi-omamori">回首</div>
    </div>
    <div class="main-content">
        <div class="col-md-3" id="main-content-left"></div>
        <div id="main-content-center" class="col-md-6"></div>
        <div class="col-md-3" id="main-content-right"></div>
    </div>
    <div id="main-footer"></div>
</body>

</html>
