<script type="text/javascript">
$(document).ready(function() {
    $("#friend_link").click(function(){
        var friendId = $(this).attr("friendId");
        $.get("user/room?id="+friendId,function(data,status){
            $("#content").html(data);
        });
    });
    $(".avatar").click(function(){
        $.get("user/room?id={{.User.Id}}",function(data,status){
            $("#content").html(data);
        });
    });
});
</script>
<div class="dashboard">
    <img class="avatar" src="static/img/user/avatar{{.User.Id}}.jpg"></img>
    <div class="function">
        <div class="input-box">
            <input type="text" id="input_text" placeholder="说点什么吧..."></input>
            <button type="button" id="input_send" class="btn btn-warning">发送</button>
        </div>
    </div>
    <div class="friends">
        <div class="btn-group dropup">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                好友列表
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {{range .User.Friends}}
                <li friendId="{{.Friend.Id}}" id="friend_link" style="cursor: pointer;">{{.Friend.Name}}</li>
                {{end}}
            </ul>
        </div>
    </div>
</div>
