<script type="text/javascript">
$(document).ready(function() {
    var myself = {{.Myself}};
    var room = {{.Room}};
    /*

    Virtual Room

    */
    var game = new Phaser.Game(800,400, Phaser.AUTO, "user-home-room", {
        preload: preload,
        create: create,
        update: update,
    });

    var assetePath = "static/img/game/";
    var showPath = "static/img/wardrobe/";
    //var player;
    var cursors;
    var platfroms;
    var players = {};
    var lastState = "stop";

    function preload() {
        game.load.image("sky", assetePath + "night-background.jpg");
        game.load.image("ground", assetePath + "platform.png");
        game.load.image("imoto", assetePath + "imoto.png");
        game.load.image("ani", assetePath + "ani.png");
    }

    function create() {
        game.scale.scaleMode = Phaser.ScaleManager.SHOW_ALL;
        game.physics.startSystem(Phaser.Physics.ARCADE);

        game.add.sprite(0, 0, "sky");

        platforms = game.add.group();
        platforms.enableBody = true;
        var ground = platforms.create(0, game.world.height, "ground");
        ground.scale.setTo(2, 2);
        ground.body.immovable = true;



        // var player = game.add.sprite(32, 450, "dude");
        // game.physics.arcade.enable(player);
        // player.body.bounce.y = 0.2;
        // player.body.gravity.y = 300;
        // player.body.colliderWorldBounds = true;
        // player.animations.add("left", [0, 1, 2, 3], 10, true);
        // player.animations.add("right", [5, 6, 7, 8], 10, true);
        // player.noro = {
        //     "state": "stop",
        //     "msg": "",
        //     "username": myself.Name
        // };
        for (var mateId in room.Mates) {
            var mate = room.Mates[mateId]
            if (mate == undefined) {
                continue;
            }
            if (mate.Id != myself.Id) {
                newPlayer(mate)
            }
        }
        newPlayer(myself)
            //players[myself.Id] = player

        cursors = game.input.keyboard.createCursorKeys();
    }

    function update() {
        // console.log("update");


        myselfPlayer = players[myself.Id]

        if (cursors.left.isDown) {
            myselfPlayer.noro.state = "left";
            if (lastState != "left") {
                sendWSData(4, "");
            }
            lastState = "left";
        } else if (cursors.right.isDown) {
            myselfPlayer.noro.state = "right";
            if (lastState != "right") {
                sendWSData(5, "");
            }
            lastState = "right";
        } else if (cursors.up.isDown) {
            myselfPlayer.noro.state = "up";
            if (lastState != "up") {
                sendWSData(6, "");
            }
            lastState = "up";
        } else {
            myselfPlayer.noro.state = "stop";
            if (lastState != "stop") {
                sendWSData(7, "");
            }
            lastState = "stop";
        }


        for (var pId in players) {
            var p = players[pId]
            if (p == undefined) {
                continue;
            }
            var hitPlateform = game.physics.arcade.collide(p, platforms);
            for (var pcId in players) {
                var pc = players[pcId]
                if (pc == undefined || pcId == pId) {
                    continue;
                }
                game.physics.arcade.collide(pc, p);
            }
            p.body.velocity.x = 0;

            switch (p.noro.state) {
                case "right":
                    if (p.x < 600){
                        p.body.velocity.x += 150;
                        p.animations.play("right");
                    }
                    break;
                case "left":
                    if (p.x > 0){
                        p.body.velocity.x += -150;
                        p.animations.play("left");
                    }
                    break;
                case "up":
                    if (p.body.touching.down && hitPlateform) {
                        p.body.velocity.y = -350;
                    }
                    break;
                case "stop":
                    p.body.velocity.x = 0;
                    p.animations.stop();
                    p.frame = 4;
                    break;
            }
        }
    }

    function newPlayer(user) {
        game.load.image("player-body"+user.Id,showPath + "body/body"+user.Show.Body+".png")
        game.load.image("player-hair"+user.Id,showPath + "hair/hair"+user.Show.Hair+".png");
        game.load.image("player-emotion"+user.Id,showPath + "emotion/emotion"+user.Show.Emotion+".png");
        game.load.image("player-clothes"+user.Id,showPath + "clothes/clothes"+user.Show.Clothes+".png");
        game.load.image("player-trousers"+user.Id,showPath + "trousers/trousers"+user.Show.Trousers+".png");
        game.load.image("player-shoes"+user.Id,showPath + "shoes/shoes"+user.Show.Shoes+".png");
        game.load.start();
        var player = game.add.sprite(20,100,"player-body"+user.Id)
        player.width=200;
        player.height=200;
        // if (user.Gender == 0) {
        //     player = game.add.sprite(20,100, "imoto");
        // } else if (user.Gender == 1) {
        //     player = game.add.sprite(20, 100, "ani");
        // } else {
        //     player = game.add.sprite(20, 100, "imoto");
        // }

        game.physics.arcade.enable(player);
        player.body.gravity.y = 500;
        player.body.bounce.y = 0.2;
        player.body.colliderWorldBounds = true;


        // var player = game.add.sprite(32, 450, "dude");
        // game.physics.arcade.enable(player);
        // player.body.bounce.y = 0.2;
        // player.body.gravity.y = 300;

        // player.animations.add("left", [0, 1, 2, 3], 10, true);
        // player.animations.add("right", [5, 6, 7, 8], 10, true);
        player.noro = {
            "state": "stop",
            "msg": "",
            "username": user.Name
        };
        players[user.Id] = player;
        var playerName = game.make.text(50, -16, user.Name, {
            fontSize: "16px",
            fill: "#eee"
        });
        player.addChild(playerName);
        var playerMsg = game.make.text(30, -32, "", {
            fontSize: "16px",
            fill: "#f00"
        });
        player.noro.msgChild = player.addChild(playerMsg);

        //load show
        var playerHair = game.make.image(0,0,"player-hair"+user.Id);
        player.addChild(playerHair)
        var playerEmotion = game.make.image(0,0,"player-emotion"+user.Id);
        player.addChild(playerEmotion)
        var playerClothes = game.make.image(0,0,"player-clothes"+user.Id);
        player.addChild(playerClothes)
        var playerTrousers = game.make.image(0,0,"player-trousers"+user.Id);
        player.addChild(playerTrousers)
        var playerShoes = game.make.image(0,0,"player-shoes"+user.Id);
        player.addChild(playerShoes)
    }

    function removePlayer(user) {
        console.log(user)
        var p = players[user.Id]
        console.log(p)
        if (p != undefined) {
            players[user.Id].kill();
            players[user.Id] = undefined;
        }
    }

    function showNewMsg(user, msg, time) {

        var p = players[user.Id]
        if (p != undefined) {
            p.noro.msgChild.text = msg;
            console.log(p.noro)
        }
        addMessage(user, msg, time)
    }
    /*

    */
    if (noro.userRoomWS == undefined) {
        noro.userRoomWS = new WebSocket('ws://' + window.location.host + '/user/ws');
        noro.userRoomWS.onmessage = function(event) {
            var data = JSON.parse(event.data)
            switch (data.Type) {
                //join room
                case 1:
                    newPlayer(data.User);
                    break;
                    //left room
                case 2:
                    removePlayer(data.User);
                    break;
                    //new message
                case 3:
                    showNewMsg(data.User, data.Text, data.Time)
                    break;
                    //op right
                case 4:
                    changePlayerState(data.User, "left");
                    break;
                    //op left:
                case 5:
                    changePlayerState(data.User, "right");
                    break;
                    //op up:
                case 6:
                    changePlayerState(data.User, "up");
                    break;
                    //op stop
                case 7:
                    changePlayerState(data.User, "stop");
                    break;
            }
        };
    }
    noro.userRoomWS.onclose = function(event) {
        console.log("ws cloesed!")
        // $.get("/user/room?id=" + {{.Room.Owner.Id}}, function(data, status) {
        //     $("#main-content-center").html(data);
        // });
    };

    function sendWSData(type, text) {
        noro.userRoomWS.send(JSON.stringify({
            Type: type,
            Text: text
        }));
    }


    function changePlayerState(user, state) {
        var p = players[user.Id]
        if (p != undefined) {
            p.noro.state = state;
        }
    }

    /*
    user-chat-message
    */
    function showHistoryMsgs() {
        console.log("show HistoryMsgs")
        for (hm of room.HistoryMsgs) {
            console.log("show msg ",hm)
            addMessage(hm.User, hm.Text, hm.Time);
        }
    }

    function addMessage(user, text, time) {
        var http = '\
        <div class="chat-room-message" id="chat-room-message">\
            <div class="chat-room-message-user">\
                <img class="chat-room-message-user-avatar" src="static/img/user/avatar' + user.Id + '.jpg"></img>\
                <div class="chat-room-message-user-name">' + user.Name + '</div>\
            </div>\
            <div class="chat-room-message-content">\
                <div class="chat-room-message-content-text text">' + text + '</div>\
                <div class="chat-room-message-content-time">' + time + '</div>\
            </div>\
        </div>\
        '
        $("#user-home-messages").append(http)
    }

    noro.showUserHome();  
    //load wardrobe
    $.get("/user/wardrobe",function(data,status){
        $("#main-content-left").append('<div class="user-home-wardrobe" id="user-home-wardrobe"></div>');
        $("#main-content-right").append('<div class="user-home-messages" id="user-home-messages"></div>');
        $("#user-home-wardrobe").html(data);
        showHistoryMsgs();
    });

    $("#user-dashboard-function-input-send").click(function() {
        var message = $("#user-dashboard-function-input-text").val()
        if (message == "") {
            return
        }
        sendWSData(3,message);
        showNewMsg(myself, message,noro.getFormatTime(new Date()))
        $("#user-dashboard-function-input-text").val("");
    });

     $("#user-dashboard-function-input-text").keydown(function(e) {
        if (e.keyCode == 13) {
            var message = $("#user-dashboard-function-input-text").val()
            if (message == "") {
                return
            }
            sendWSData(3, message)
            showNewMsg(myself, message,noro.getFormatTime(new Date()))
            $("#user-dashboard-function-input-text").val("");
        }
    });
});
</script>
<!-- <div id="house_content" style="width:1000px,height:500px;background-color:#fff">
</div> -->
<div id="user-home">
    <div class="user-home-header">
        <div class="user-home-title">{{.Myself.Name}}的房间</div>
    </div>
    <div class="user-home-content">
        <div class="user-home-room" id="user-home-room"></div>
        <div class="user-home-profile">This is my profile</div>
    </div>
</div>
