body {
    /*background-color: #f7f7f8;*/
    /*background-color: #eee;*/
    font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Helvetica Neue",Arial,sans-serif ;
}

.main-header {
    background-image: url("/static/img/title-background.jpg");
    background-position: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 170px;
    background-repeat: repeat-x;
    transition:height;
}

.main-header-logo {
    background-image: url("/static/img/logo.png");
    background-size: 150px 150px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    vertical-align: center;
}

body {
    background: url("/static/img/chat-room-background.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/*#left_content{
	background-image: url(../img/imoto.jpg);
	background-size: 400px 800px;
	float: left;
	width: 400px;
	height: 800px;
}*/


/*.main-title h1{
	font-size: 60px;
	text-shadow:2px 2px 5px #eee;
}

.main-title h2{
	font-size: 30px;
	text-shadow:2px 2px 5px #eee;
}*/


/*#main_back:hover{
	cursor: pointer;
}*/

