body {
    /*background-color: #f7f7f8;*/
    background-color: #eee;
}

.main-title{
	background-image:url(../img/title-background.png);
	background-position: center;
	box-shadow : 0 1px 2px rgba(0, 0, 0, 0.3);
	padding: 45px 30px;
	width: 100%;
	height:300px;
	border-radius: 5px;
	background-repeat: repeat-x;
}

.main-title-logo{
	background-image:url(../img/logo.png);
	background-size: 200px 200px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
	vertical-align: center;
}

/*#left_content{
	background-image: url(../img/imoto.jpg);
	background-size: 400px 800px;
	float: left;
	width: 400px;
	height: 800px;
}*/

/*.main-title h1{
	font-size: 60px;
	text-shadow:2px 2px 5px #eee;
}

.main-title h2{
	font-size: 30px;
	text-shadow:2px 2px 5px #eee;
}*/

#main_back:hover{
	cursor: pointer;
}

#create_room_btn:hover{
	cursor: pointer;
}

.room-content {
    display: block;
    position: relative;
    background: #fff;
    min-height: 100px;
    width: 100%;
    margin: 10px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px 20px;
}

.room-content:hover{
    cursor: pointer;
}

.room-title{
	font-size: 36px;
	margin-bottom:5px;
	font-weight: 700;
}

.room-date-box {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    height: 80px;
    width: 80px;
    padding-top: 20px;
    background-color: #e9e9ec;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    color: #666;
    transition: 0.3s ease color;
    cursor: default;
    line-height: 90%;
}

.room-date-box:hover {
    color: #000000;
}

.room-date-box-day {
    font-size: 36px;
    font-weight: bolder;
}

.room-date-box-month {
    font-size: 12px;
    font-weight: normal;
}

.room-date-box-year {
    font-size: 12px;
    font-weight: normal;
}

.chat-room > #messages{
	margin: 5px 0 50px 0;
}

.message{
	display: block;
	padding: 5px 10px;

}

.message-user{
	display: inline-block;
	margin: 0 20px 0 0;
}

.message-user-avatar{
	display: block;
	padding: 4px;
	height: 60px;
	width: 60px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.message-user-name{
	display: block;
	color: #fff;
	font-size: 14px;
	text-align:center;
}

.message-content{
	display: inline-block;
	vertical-align: top;
	background: linear-gradient(to bottom,#8ac0e4 0,#5aa6d2 50%,#4191c7 51%,#297db5 100%);
	position: relative;
	top:5px;
	border-radius:10px;
	border: 4px solid #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	max-width: 70%;
}

.message-content-text{
	color: yellow;
	padding: 5px 10px;
	font-size: 18px;
	line-height: 110%;
	word-wrap:break-word; 
	word-break:break-word;
}

.message-content-time{
	color: #fff;
	padding: 5px 10px;
	font-size: 10px;
}

.chat-tip{
	margin: 10px 0px;
	vertical-align: center;
	display: block;
	padding: 5px 10px;
	/*background-color: #f7f7f8;*/
	height: auto;
	text-align: center;
	color: #fff;
	/*border-radius: 10px;*/
	/*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);*/
	font-size: 18px;
	width: auto;
}


/*.input-controller{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	
}*/

#footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
}
.dashboard{
	float: left;
}

.dashboard > .avatar{
	display: inline-block;
	width: 10%;
	height: 10%;
	min-width: 75px;
	min-height: 75px;
	border: 5px solid #fff;
	overflow: hidden;
	background-color: #eee;
}

@media (min-width: 800px)
.dashborad > .avatar{
    display: none;
}

.dashboard > .function{
	display: inline-block;
	padding: 5px 10px;
	background-color: #333;
	width: 70%;
	position: absolute;
	bottom: 0px;
}

.dashboard .function .user-attr{
	color : #fff;
	font-size: 18px;
	line-height: 110%;
	word-wrap:break-word; 
	word-break:break-word;
}

.dashboard .function .input-box{
	/*display: block;*/
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	vertical-align: bottom;
	margin-left: auto;
	margin-right: auto;
}

.input-box > input{
	width: 80%;
	border-radius: 5px;
}

.input-box > button{
	position: absolute;
	right: 10px;
	padding: 3px 10px;
	width: 15%
}

.dashboard > .friends{
	background-color: #333;
	display: inline-block;
	width: 15%;
	padding: 0 10px;
	vertical-align: bottom;
}


.chat-room{
}


.room-config{
	display: none;
}


.user-room > #messages{
	display: block;
	width: 800px;
	margin-top: 5px;
	margin-bottom: 50px;
	background-color: #333;
	border-radius: 5px;
}