.chat-room-header{
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	background: url("/static/img/chat-room.jpg") no-repeat center center;
	background-size: cover;
	color: #fff;
	width: 100%;
	z-index: 999;
	font-weight: bold;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.chat-room-topic{
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
}
	

.chat-room-exit{
	position: fixed;
	left: 30px;
	top:20px;
	font-size: 25px;
}
.chat-room-exit:hover{
	cursor: pointer;
}

.chat-room-plus{
	position: fixed;
	right:30px;
	top:20px;
	font-size: 25px;
}

.chat-room-plus:hover{
	cursor: pointer;
}

.chat-room-plus-list{
	position: fixed;
	right: 0;
	top: 70px;
	z-index:1;
	width: 300px;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	display: none;
	padding-top: 20px;
}

.chat-room-plus-list > ul{
	width:300px;
	text-align: center;
	font-size: 30px;
	color: #fff;
}



.chat-room-messages {
    margin: 80px 0 1rem 0;
}


.chat-room-message{
	display: block;
	padding: 5px 10px;

}

.chat-room-message-user{
	display: inline-block;
	margin: 0 20px 0 0;
}

.chat-room-message-user-avatar{
	display: block;
	height: 60px;
	width: 60px;
    border: 4px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.chat-room-message-user-name{
	display: block;
	color: #333;
	font-size: 14px;
	text-align:center;
}

.chat-room-message-content{
	display: inline-block;
	vertical-align: top;
	background: linear-gradient(to bottom,#8ac0e4 0,#5aa6d2 50%,#4191c7 51%,#297db5 100%);
	position: relative;
	top:5px;
	border-radius:10px;
	border: 4px solid #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	max-width: 70%;
}

.chat-room-message-content-text{
	color: yellow;
	padding: 5px 10px;
	font-size: 18px;
	line-height: 110%;
	word-wrap:break-word; 
	word-break:break-word;
}

.chat-room-message-content-time{
	color: #fff;
	padding: 5px 10px;
	font-size: 10px;
}

.chat-room-tip{
	margin: 10px 0px;
	vertical-align: center;
	display: block;
	padding: 5px 10px;
	/*background-color: #f7f7f8;*/
	height: auto;
	text-align: center;
	color: #333;
	/*border-radius: 10px;*/
	/*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);*/
	font-size: 18px;
	width: auto;
}
