.chat-room-messages {
    margin: 0.5rem 0 7rem 0;
}


.chat-room-message{
	display: block;
	padding: 5px 10px;

}

.chat-room-message-user{
	display: inline-block;
	margin: 0 20px 0 0;
}

.chat-room-message-user-avatar{
	display: block;
	height: 60px;
	width: 60px;
    border: 4px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.chat-room-message-user-name{
	display: block;
	color: #333;
	font-size: 14px;
	text-align:center;
}

.chat-room-message-content{
	display: inline-block;
	vertical-align: top;
	background: linear-gradient(to bottom,#8ac0e4 0,#5aa6d2 50%,#4191c7 51%,#297db5 100%);
	position: relative;
	top:5px;
	border-radius:10px;
	border: 4px solid #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	max-width: 70%;
}

.chat-room-message-content-text{
	color: yellow;
	padding: 5px 10px;
	font-size: 18px;
	line-height: 110%;
	word-wrap:break-word; 
	word-break:break-word;
}

.chat-room-message-content-time{
	color: #fff;
	padding: 5px 10px;
	font-size: 10px;
}

.chat-room-tip{
	margin: 10px 0px;
	vertical-align: center;
	display: block;
	padding: 5px 10px;
	/*background-color: #f7f7f8;*/
	height: auto;
	text-align: center;
	color: #333;
	/*border-radius: 10px;*/
	/*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);*/
	font-size: 18px;
	width: auto;
}
